$width: 960px;
$navigation-width: 139px;
$hover-color: #E1E5EB;
$link-color: #285473;
$vk-color: #4A76A8;
$vk-button-color: #5b88bd;

body{
    background-color: #EDEEF0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.page-header{
    height: 42px;
    background-color: $vk-color;
}
.page-content{
    margin: 0 auto;
    width: $width;
    display: flex;
    height: 100%;
    position: sticky;
}
.page-header-content{
    margin: 0 auto;
    width: $width;
}
.page-header-content-logo{
    width: $navigation-width;
}
.page-header-content h2{
    margin: 0;
    padding-top: 5px;
    color: white;
}
.page-content-navigation{
    margin-top: 15px;
    //width: $navigation-width;
}
.page-content-content{
    padding-top: 15px;
    padding-bottom: 2px;
    min-width: 400px;
    display: flex;
}
.page-content-content-wrap{
    width: 300px;
    background-color: white;
    max-height: 100%;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    overflow-y: auto;
}
.page-content-content-wrap a{
    color: $link-color;
}
.page-content-content-content{
    background-color: white;
    max-height: 100%;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.page-content-link{
    display: block;
    white-space: nowrap;
    padding: 10px;
    color: $link-color;
}
.page-content-link:hover{
    background-color: $hover-color;
}
.content-item{
    padding: 10px;
    height: 30px;
    box-shadow: 0 1px 0 0 #d7d8db;
}
.page-content-link-item {
    display: flex;
    height: 20px;
}
.page-content-link-item:hover{
    background-color: #EDEEF0;
    cursor: pointer;
}
.content-item input{
    border: 0px;
}
input[type="text"]:focus {
    outline: none;
}
.content-flex{
    display: flex;
}

.content-flex-row{
    align-content: start;
    flex-wrap: wrap;
    overflow-y: auto;
}
.content-flex-column{
    flex-direction: column;
    overflow-y: auto;
}
@media screen and (min-height: 0px) and (max-height: 720px){
    .content-flex{
        height: 480px;
    }
    .page-content-content{
        height: 540px;
    }
    .page-content-content-content{
        width: 680px;
    }
}
@media screen and (min-height: 700px) and (max-height: 1500px){
    .content-flex{
        height: 640px;
    }
    .page-content-content{
        height: 700px;
    }
    .page-content-content-content{
        width: 740px;
    }
}
.content-flex-modal{
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 220px;
}
.content-flex-item{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    width: 100px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.content-flex-item a{
    color: black;
}
.content-flex-item:hover{
    background-color: $hover-color;
    cursor: pointer;
    z-index: 2;
    overflow: visible;
}
.content-flex-item-column{
    width: 480px;
    text-align: left;
    height: 30px;
    padding: 10px;
    overflow: visible;
}
img.icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

img.item{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    //padding-bottom: 5px;
}
.modal-container{
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.modal{
    cursor: auto;
    z-index: 100;
    height: 336px;
    width: 500px;
    background-color: white;
    margin: 116px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,.35);
    outline: none;
    border-radius: 5px;
}
.modal-header{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 54px;
    background-color: $vk-color;
}
.modal-header-title{
    padding: 1px;
}
.modal-header-title p{
    color: white;
}
.modal-content{
    padding: 20px;
    height: 240px;
    background-color: #F7F7F7;
}
.modal-content__img img{
    width: 100px;
}
.vk-button{
    background-color: #5b88bd;
    text-decoration: none;
    float: right;
    padding: 7px 16px 8px;
    margin-left: 10px;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}
.vk-input{
    background: #fff;
    color: #000;
    border: 1px solid #c0cad5 !important;
    padding: 5px;
    vertical-align: top;
    margin: 0;
    overflow: auto;
    outline: 0;
    line-height: 150%;
    word-wrap: break-word;
    width: 200px;
    cursor: text;
}
.modal-footer{
    margin-top: 80px;
}
.content-item__title{
    cursor: text;
    text-align: center;
    padding: 0 5px;
    max-width: 90px;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
}
.content-flex-item:hover .content-item__title{
    white-space: normal;
    background: $hover-color;
    word-break: break-all;
}
.content-item__title-col{
    font-size: 1em;
    float: left;
    max-width: 300px;
    text-align: left;
}
.content-item__input{
    border: 1px solid #c0cad5;
    cursor: text;
    margin-top: 4px;
    width: 100%;
    outline: 0;
    line-height: 150%;
}

.page-content-item__input{
    width: 100px;
    border: 1px solid #c0cad5;
    cursor: text;
    outline: 0;
    line-height: 150%;
}

.item-right{
    cursor: pointer;
    padding: 5px;
    width: 20px;
    height: 20px;
    float: right;
    vertical-align: top;
}

.item-left{
    cursor: pointer;
    padding: 5px;
    width: 20px;
    height: 20px;
    float: left;
    vertical-align: top;
}
.item-name{
    float: left;
    padding: 5px;
    height: 20px;
}
.checked{
    background-color: $hover-color;
}

.button-secondary{
    background-color: #e5ebf1;
    color: #55677d;
}
.node-layout{
    margin-left: 10px;
}
.calendar{
}
.search{
    width: 120px;
}
.tags{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tag-button{
    margin-bottom: 5px;
    margin-left: 2px;
}
.sort-button{
    text-decoration: none;
    float: left;
    padding: 7px 16px 8px;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    border: 0;
    box-sizing: border-box;
    background-color: white;
}
.sort-button-selected{
    border-bottom: $vk-button-color 2px solid;
}
.line {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 2px;
    background-color: black;
}
.load {
    margin: auto;
}
.load .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
.span-right{
    float: right;
}
.vk-switch{
    background-color: #bccde0;
    width: 28px;
    height: 9px;
    border-radius: 45px;
    float: right;
    margin-top: 3px;
}
.vk-switch::after{
    background-color: #5181b8;
    left: 13px;
    content: '';
    float: left;
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #5181b8;
    top: -3px;
    transition: left 0.3s ease;
}
.vk-switch-left::after{
    border: 1px solid #b4bfcc;
    background-color: #fff;
    left: 0;
}
.vk-switch-container{
    margin: 2px;
    margin-left: 10px;
}
.sort-row{
    padding-left: 0;
    padding-right: 0;
}