{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>VkDisk</title>
    <meta charset="UTF-8">
    {% if not user.is_authenticated %}

        <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
{% if user.is_authenticated %}
    <div id="root"></div>
    <script src="{% static "build/indexBundle.js" %}"></script>
{% else %}
    {% include "core/not_authed_subpage.html" %}
{% endif %}
</body>
</html>