{% load staticfiles %}

<div>
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-header-content-logo">
                <h2>VK DISK</h2>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="card col-11 mx-auto">
            <div class="card-body">
                <h1 class="display-4">VK Disk</h1>
                <p class="lead">This is a web service to see all files, which were sent or received in VK.</p>
                <hr class="my-4">
                <p>To work with VK Disk you should install our browser extension.</p>
                <p class="">
                    <a href="https://drive.google.com/open?id=15Fbnlua7mt4lUS0oW0SHjgk0ZzV9xLSl"
                       class="btn btn-primary vk-button">
                        <img class="chrome-icon" src="{% static "img/chrome.png" %}"/> <span class="lead">Chrome extension</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>