body{
    background-color: #EDEEF0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-weight: 400;
    line-height: 19px;
}
.logo-icon{
    height: 42px;
    float: left;
}
.page-header{
    height: 42px;
    background-color: #4A76A8;
}
.page-content{
    max-width: 840px;
    padding: 1.25rem;
}
@media screen and (min-width: 0px) and (max-width: 720px){
    .page-header-content-logo{
        width: 100px;
        margin: 0 auto;
    }
    .page-content__title-web{
        display: none;
    }
    .page-content__title-mobile{
        display: block;
    }
    .page-content__buttons-web{
        display: none;
    }
    .page-content__buttons-mobile{
        display: block;
    }
    .page-content__comment{
        display: none;
    }
    body {
        background-color: white;

    }
}
@media screen and (min-width: 700px){
    .page-header-content{
        margin: 0 auto;
        max-width: 880px;
    }
    .page-header-content-logo{
        display: none;
    }
    .page-content__title-web{
        display: block;
    }
    .page-content__title-mobile{
        display: none;
    }
    .page-content__buttons-web{
        display: block;
    }
    .page-content__buttons-mobile{
        display: none;
    }
    .page-content{
        margin: 15px auto;
        background-color: white;
        border-radius: 2px 2px 0 0;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    }
}
.page-header-content h2{
    margin: 0;
    padding-top: 5px;
    color: white;
}
.vk-button{
    background-color: #5b88bd;
    text-decoration: none;
    padding: 7px 16px 8px;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 5px;
}
.vk-button__span{
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}
.chrome-icon{
    float: left;
    height: 25px;
    width: 25px;
}
.page-content-right{
    width: 320px;
    min-height: 80px;
    margin: 30px;
    padding: 25px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db;
}

.page-content__comment {
    font-size: 11px;
}

hr{
    border-top: 1px solid #dfe2e8;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.vk-button-mobile{
    text-align: center;
}
