absl-py==0.1.13
amqp==2.2.2
argcomplete==1.8.2
astor==0.6.2
attrs==17.4.0
beautifulsoup4==4.5.3
billiard==3.5.0.3
bleach==1.5.0
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
defusedxml==0.5.0
dj-database-url==0.4.2
Django==2.0.12
django-debug-toolbar==1.9.1
django-js-asset==1.0.0
django-mptt==0.9.0
django-rest-elasticsearch==0.4
django-sphinxql==1.1.0
djangorestframework-recursive==0.1.2
-e git://github.com/liberation/django-elasticsearch@302d8d08a77848c9816e0d2c6bf2e42c5c4c3a22#egg=django_elasticsearch
django-rest-elasticsearch==0.4
django-widget-tweaks==1.4.1
djangorestframework==3.9.1
docx==0.2.4
docx2txt==0.6
EbookLib==0.16
elasticsearch==6.1.1
elasticsearch-dsl==6.1.0
-e git://github.com/mozilla/elasticutils.git@b880cc5d51fb1079b0581255ec664c1ec934656e#egg=elasticutils
enum34==1.1.6
gast==0.2.0
grpcio==1.10.1
gunicorn==19.7.1
html5lib==0.9999999
idna==2.6
ipaddress==1.0.19
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
kombu==4.1.0
lxml==4.2.1
more-itertools==4.1.0
Markdown==2.6.11
more-itertools==4.1.0
numpy==1.14.2
oauthlib==2.0.6
parso==0.1.1
pdfminer.six==20170720
pexpect==4.4.0
pickleshare==0.7.4
Pillow==6.2.0
pluggy==0.6.0
ply==3.11
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.2
py==1.5.3
pycryptodome==3.6.6
Pygments==2.2.0
PyJWT==1.5.3
PyMySQL==0.8.0
PyPDF2==1.26.0
pytest==3.5.0
pytest-runner==4.0
python-dateutil==2.7.0
python-docx==0.8.6
python-pptx==0.6.5
python3-openid==3.1.0
pytz==2018.3
redis==2.10.6
requests==2.20.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
SpeechRecognition==3.6.3
sqlparse==0.2.4
tensorboard==1.7.0
tensorflow==1.15.0
termcolor==1.1.0
tesserocr==2.2.2
textract==1.6.1
traitlets==4.3.2
urllib3==1.24.2
vine==1.1.4
vk-api==9.3
Wand==0.4.4
wcwidth==0.1.7
Werkzeug==0.15.3
xlrd==1.0.0
XlsxWriter==1.0.2
eventlet==0.22.1
